/* Custom CSS for Adventure Travel */

/* Custom CSS Tags*/

body {
    background-image:url(../images/background.jpg);
    background-size: cover;
}

header {
    background-image:url(../images/background.jpg);
    background-size: cover;
    text-align: center;
}

nav {
    background-color: #6b3515;
    background: linear-gradient(#6b3515, saddlebrown);
    font-size: 2em;
}
ul {
    margin: auto;
}

article h1 {
    color: white;
    background-color: #6b3515;
    background: linear-gradient(#6b3515, saddlebrown);
    padding: 15px;
    text-align: center;
    font-size: 3em;
}
footer {
    background-color: #6b3515;
    background: linear-gradient(#6b3515, saddlebrown);
    color: black;
}

.card-title {
    font-size: 2em;
}

/* Custom CSS Classes*/


/* Custom CSS IDs*/


#logo {
    max-width: 1200px;
}

/* Media Queries */

@media (max-width: 576px) {
        article h1 {
      font-size: 2em;  
    }
    nav {
        font-size: 1em;
    }
}



